<ion-header>
	<ion-toolbar>
		<ion-title>
			Sensor
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class='bild'>
		Hier kommt ein Bild rein
	</div>

	<div>
		<h2>Verbinde einen Sensor</h2>
		<p id="explain">
			Drücke die kleine Taste auf dem Sensor und bringe den Sensor in die Nähe deines iPhones. Klicke dann auf "Sensor
			verbinden"
		</p>
		<div id="btnholder" class="btnholder">
			<button id="connectionBtn" ion-button (click)="connect()">Sensor verbinden</button>
		</div>

	</div>




</ion-content>
