<ion-tabs>
	<ion-tab label="Home" icon="home" href="/tabs/(home:home)">
		<ion-router-outlet name="home"></ion-router-outlet>
	</ion-tab>
	<ion-tab label="Tagebuch" icon="information-circle" href="/tabs/(diary:diary)">
		<ion-router-outlet name="diary"></ion-router-outlet>
	</ion-tab>
	<ion-tab label="Tipps" icon="contacts" href="/tabs/(tip:tip)">
		<ion-router-outlet name="tip"></ion-router-outlet>
	</ion-tab>
	<ion-tab label="Sensor" icon="bluetooth" href="/tabs/(sensor:sensor)">
		<ion-router-outlet name="sensor"></ion-router-outlet>
	</ion-tab>
</ion-tabs>
