// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
	font-family: Roboto_Bold;
	src: url(./assets/font/Roboto-Bold.ttf) format('truetype');
	font-weight: 700;
}

@font-face{
	font-family: Roboto_Regular;
	src: url(./assets/font/Roboto-Regular.ttf) format('truetype');
	font-weight: 400;
}

h2{
	font-family: Roboto_Bold;
	font-size: 18pt !important;
}

h3{
	font-family: Roboto_Bold;
	font-size: 15pt !important;
}

p{
	font-family: Roboto_Regular;
	font-weight: 12pt !important;
}
